/*
find the colors used on web pages._
   * Teal color (used for headings and backgrounds): `#4aaaa5`
   * Regular font color (used for paragraphs and all text besides the headings): `#777777`
   * Main header background color: `#ffffff`
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd`
*/

/* trythis 
font-size: 24px;
padding 14px 16px;
background color: #777777;
width: 50px
height: 50px
margin: 1px

okay?
*/


body {
    background-color: #dfdfdf;
}

p {
    color: #777777;
}

header h1 {
    color: #4aaaa5;
}

/* Navbar aka main header */
nav {
    
    background-color: #ffffff;
    overflow: hidden;
    height: 100px;
    position: relative;
    width: 100%;
    box-shadow: 0 0 1px 0 gray;
}

#navcontent {
    width: 960px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: auto;
}

#name {
    float: left;
    font-size: 20px;
    width: 30%;
    color: #ffffff;
    text-align: center;
    padding: 0px 10px 16px;
    background-color: #4aaaa5;

}

#navigation {
    float: right;
    width: 65%;
    margin: 48px 12px 0 0;
   
}

#navigation li{
    float: right;
    list-style: none;
    text-align: center;
    position: relative;
    padding: 12px 12px 0px;
    font-size: 17px;
    border-right: 1px solid #dfdfdf;
}

/**remove from last item**/

#navigation li:last-child a {
    border-right: none;
}


#navigation a {
    text-decoration: none;

}

#navigation a:hover {
    background: #4aaaa5;
    color: #ffffff;
  }

.active {
    font-weight: bold;
}  

/* Main body of website aka main content */
.mainbox {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 0 24px 6px 24px; 
    width: 912px;
    position: relative;

}

.mainbox h1 {
    font-size: 28px;
    margin: 6px 0px; 
    padding: 16px 0;
    border-bottom: 1px solid #dfdfdf;
    

}
.content {
    
}

.content img{
    padding: 0 15px 0 0;
    float: left;
}

.content p{
    
    
}

/* gallery area on portfolio */
.gallery {


}

/* Mailbox area on Contacts page */

.mailbox {

}

/* Footer */
footer {
    background-color: #666666;
    padding: 1px 0px 0px;
    border-top: 3px solid #4aaaa5;
}

footer p {
    color: lightgray;
    text-align: center;
    font-size: smaller;
    
}
